* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./dog.jpg);
  background-color:rgba(0,0,0,0.7) ;
  background-size: cover;
  background-blend-mode: darken;
  font-family: 'Gentium Plus', serif;
    font-family: 'Raleway', sans-serif;
    position: relative;
    width: 95%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.heading{
    text-align: center;
    font-size: 70px;
    color: aliceblue;
    font-family: 'Amita', cursive;
    background-color: rgba(0,0,0,0.3);
    font-family: 'IM Fell French Canon SC', serif;
    letter-spacing: 10px;
    position: absolute;
    padding: 1% 2.5%;
    top: 10%;
    left: 33%;
    transform: translate(-10%,-30%);
}

main {
  position: absolute;
  
}

.para-1 {
  
  padding: 20%;
  font-size: 1.8rem;
  color: rgb(223, 223, 223);
  top: 0%;
  left: 0%;
  transform: translate(3%,-10%);
  font-family: 'Niconne', cursive;
}

.p2{
  position: absolute;
  font-size:19px;
  top: 60%;
  left: 34.5%;
  color: white;
  transform: translate(10%,60%);
  font-family: 'Nunito', sans-serif;
}

.explore{
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  color: white;;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  transition: 0.5s;
  text-shadow: 2px 2px 8px white ;
  font-family: 'Cormorant Garamond', serif;

}

.explore{
  position: absolute;
  top: 70%;
  left: 45%;
  text-transform: (-85%,30%);
}

.explore:hover{
  background: white;;
  color: #111;
  box-shadow: 0 0 50px white;; 
  transition-delay: 0.4s;
}


.explore:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;;
  border-left: 2px solid white;;
  transition: 0.5s;
  transition-delay: 0.4s;
}

.explore:hover:before{
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

.explore:after
{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid white;;
  border-right: 2px solid white;;
  transition: 0.5s;
  transition-delay: 0.4s;
}

.explore:hover:after{
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

#logo {
     font-size: large;
   
  color: white;
  font-family: "Abril Fatface";
}

#logo-home {
  font-size: large;
  text-decoration: none;
  color: white;
font-family: "Abril Fatface";
}



.nav-header {
  
  min-height: 10vh;
  letter-spacing: 2px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  z-index: 2;
  position: relative;
}
.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
  }

.nav-bar {

  position: fixed;
  color:rgb(32, 32, 102);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Abel', sans-serif;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  animation: change 4s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.burger {
  cursor: pointer;
}
.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}
.nav-links h3 {
  padding: 3rem 0rem;
}
.contact {
  flex-basis: 30rem;
}
.contact h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}
.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}






/* Other Pages */
.back {
  background-image: url("./Pet/green-leaves-scenery.jpg");
  background-color:rgba(0,0,0,0.7) ;
  background-size: cover;
  background-blend-mode: darken;
  font-family: 'Gentium Plus', serif;
  font-family: 'Raleway', sans-serif;
  position: relative;
  width: 95%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.Pet1,
.Pet2,
.Pet3,
.Pet4,
.Pet5 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
}
.Pet-img {
  transform: translate(-0%,-12%);
  height: 50vh;
  flex-basis: 30rem;
}
.Pet-text {
  flex: 1;
  position: relative;
  flex-basis: 25rem;
}
.Pet-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Pet-text h1 {
  font-size: 1.7rem;
  padding: 2rem 0rem;
}


.Pet1 h1 {
  color: rgb(255, 139, 93);
}
.Pet2 h1 {
  color: rgb(167, 110, 231);
}
.Pet3 h1 {
  color: rgb(86, 124, 228);
}

.Pet4 h1{
  color: rgb(226, 228, 86);
}

.Pet5 h1{
  color: rgb(70, 179, 151);
}

.Pet-text p {
  font-size: 1.2rem;
  padding: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
}
.Pet-nr {
  font-size: 15rem;
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: white;
  opacity: 0.3;
}




@media (min-width: 1900px) {
  .Pet-text h1 {
    font-size: 2rem;
    padding: 1rem 0rem;
    padding-top: 21rem;
  }
  .Pet-text p {
    font-size: 1.6rem;
  }
  .Pet-img img {
    height: 50vh;
    width: 34.5vw;
    object-position: top;
  }
  .Pet-nr {
    bottom: 10%;
  }
  .Pet-img{
    transform: translate(-0%,6%);
  }
  .heading{
    transform: translate(0%,-26%);
  }
  .explore{
    transform: translate(50%,40%);
  }
  .p2{
    transform: translate(20%,-36%);
  }
}

